<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dx.xposedhook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hook don't need reboot" />
        <meta-data
            android:name="xposedminversion"
            android:value="45+" />
    </application>

</manifest>
